
.empty-cart {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.link-inicio {
    display: block;  
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: blueviolet;
    margin-top: 20px; 
}

.total-cart {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.total-cantidad {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;
}

.btn-empty-cart, .btn-end-cart {
    display: inline-block;  
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    background-color: blueviolet;
    margin: 20px 10px; 
    border-radius: 10px; 
    padding: 10px 20px;  
    color: white; 
    border: none; 
    text-decoration: none; 
}

.cart-buttons {
    text-align: center; 
    margin-top: 20px;
}
